# Logs
logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
.DS_Store
figma-thumb.png
figma-thumb.webp
figma-preview.jpg
figma-preview.webp
figma-preview-lg.jpg
figma-case.webp
figma-case.png
figma-case-preview.webp
figma-cs.webp
figma-*.webp
figma-*.png
